# dependencies
node_modules/

# dataset / raw data
dataset/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.*.local
*.env

# misc
.DS_Store
*.pem
